{% extends "layout.html" %}  <!-- declaro de donde traigo la plantilla -->

{% block content %}

<form class="row g-3" id="consultaForm">
    <div class="col-md-6 form-in">
        <label for="name" class="form-label">Nombre y apellido</label>
        <input type="text" class="form-control" id="name" required>

    </div>

    <div class="col-md-6 form-in">
        <label for="mail" class="form-label">e-mail</label>
        <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="mail" aria-describedby="inputGroupPrepend" required>
        </div>
    </div>

    <div class="col-md-6 form-in">
        <label for="consulta" class="form-label">Escriba su mensaje</label>
        <input type="text" class="form-control" id="consulta" required>
    </div>

    <div class="col-md-3 form-in">
        <label for="hour" class="form-label">Horario de preferencia</label>
        <select class="form-select" id="hour" required>
            <option selected disabled value="">Elegí un horario...</option>
            <option>Mañana</option>
            <option>Tarde</option>
            <option>Noche</option>
            <option>Cualquiera</option>
        </select>
    </div>

    <div class="col-md-3 form-in">
        <label for="phone" class="form-label">Teléfono</label>
        <input type="phone" class="form-control" id="phone" required>

    </div>
    <div class="col-12">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="know" required>
        <label class="form-check-label" for="know">
                Deseo recibir novedades sobre esta página.
        </label>
        </div>
    </div>
    <br>
    <div class="col-12">
        <button class="btn btn-outline-secondary" type="submit">Enviar formulario</button>
    </div>
    </form>

    <script>
    document.getElementById("consultaForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Evitar que se envíe el formulario automáticamente
        
    var url = "https://my-first-project-con-potrero-default-rtdb.firebaseio.com/consulta.json";
    
        fetch(url)
            .then(function(response) {
            return response.json();
            })
            .then(function(data) {

            var datos = {
                nombreyapellido: document.getElementById("name").value,
                mail: document.getElementById("mail").value,
                consulta: document.getElementById("consulta").value,
                horario: document.getElementById("hour").value,
                telefono: document.getElementById("phone").value
            };
    
            // Realizar la petición POST a la API para guardar los datos del formulario
            fetch(url, {
                    method: "POST",
                    body: JSON.stringify(datos)
                })
                
                .then(function(response) {
                    alert("Su consulta ha sido enviada, pronto recibirá una respuesta!");
                    // Restablecer el formulario
                    document.getElementById("consultaForm").reset();
    
                    // Redirigir al usuario al inicio
                    window.location.href = "/";
                  })
                  .catch(function(error) {
                    alert("Ha ocurrido un error. Por favor, intenta nuevamente.");
                    console.error(error);
                });
            });
        }
        )


        </script>

{% endblock%}
