{% extends "layout.html" %}  <!-- declaro de donde traigo la plantilla -->

{% block content %}
<div class='col-5 noticia'>
    <h3> Noticias del ambiente </h3> 
    <h6> 5 Mujeres Líderes en It </h6>
    <img src="{{ url_for('static', filename='img/mujeres.png') }}" id= "noticia_img" alt="5mujeres">
    <p class= "parrafo"> 
        Intentarlo cuantas veces sea necesario, atreverse a innovar y creer en uno mismo.
    </p>
    <p class= "parrafo">
        Son algunas de las premisas de muchas de las mujeres que han conseguido el éxito en el ámbito tecnológico de América Latina, donde el panorama no siempre es alentador.
    </p>

    <a class="btn btn-outline-secondary" target= _blank  href="https://www.bbc.com/mundo/articles/clw7510g5jdo">Lee la noticia completa acá...</a>
</div>

<div class='col-7'>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/carousel1.jpg') }}" class="d-block w-100" alt="carousel1">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/carousel2.jpg') }}" class="d-block w-100" alt="carousel2">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/carousel3.jpg') }}" class="d-block w-100" alt="carousel3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>
{% endblock%}
