{% extends "layout.html" %}  <!-- declaro de donde traigo la plantilla -->

{% block content %}

  <div class="container"> 
    <div class="left col-2"></div>

    <div class="left col-4">
      <h1>Formulario de Registro</h1>
    </div>

    <div class="right col-4">
      <form id="registroForm">
        <label for="dni"> </label>
        <input class="input1"  type="text" placeholder="  ingrese su DNI" id="dni" required>
        <input class="verificar" type="submit" value="Verificar DNI">
      </form>
    </div>
    <div class="left col-2"></div>

  </div>


  <script>
    document.getElementById("registroForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Evitar que se envíe el formulario automáticamente

      var dniInput = document.getElementById("dni").value;
      var url = "https://my-first-project-con-potrero-default-rtdb.firebaseio.com/alumnos.json";

      // Realizar la petición GET a la API para verificar el DNI
      fetch(url)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          // Verificar si el DNI existe en algún registro
          var dniExiste = false;
          for (var key in data) {
            if (data.hasOwnProperty(key) && data[key].dni === dniInput) {
              dniExiste = true;
              break;
            }
          }

          if (dniExiste) {
            alert("El número de DNI ya existe en un registro.");
            // Redirigir al usuario a login.html
            window.location.href = "/login";
          } else {
            // Habilitar el formulario de carga de datos
            document.getElementById("registroForm").innerHTML = `
              <label class="input1"  for="nombreyapellido">Nombre y Apellido:</label>
              <input class="input1"  type="text" id="nombreyapellido" required>
              <label class="input1"  for="mail">Email:</label>
              <input class="input1"  type="email" id="mail" required>
              <label class="input1"  for="contrasenia">Contraseña:</label>
              <input class="input1"  type="password" id="contrasenia" required>
              <input class="verificar" type="submit" value="Registrar">
            `;

            // Agregar el evento de envío del formulario de registro
            document.getElementById("registroForm").addEventListener("submit", function(event) {
              event.preventDefault(); // Evitar que se envíe el formulario automáticamente

              var datos = {
                dni: dniInput,
                nombreyapellido: document.getElementById("nombreyapellido").value,
                imagen: document.getElementById("nombreyapellido").value,
                mail: document.getElementById("mail").value,
                contrasenia: document.getElementById("contrasenia").value
              };

              // Realizar la petición POST a la API para guardar los datos de registro
              fetch(url, {
                method: "POST",
                body: JSON.stringify(datos)
              })
              .then(function(response) {
                alert("Registro exitoso!");
                // Restablecer el formulario
                document.getElementById("registroForm").reset();

                // Redirigir al usuario a login.html
                window.location.href = "/login";
              })
              .catch(function(error) {
                alert("Ha ocurrido un error. Por favor, intenta nuevamente.");
                console.error(error);
              });
            });
          }
        })
        .catch(function(error) {
          alert("Ha ocurrido un error. Por favor, intenta nuevamente.");
          console.error(error);
        });
    });
  </script>

  {% endblock%}
